html, body {
  height: 100%;
  padding: 0;
  margin: 0
}

body {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 50px;
}

.content {
  display: flex;
  flex-direction: row;
  height: 60%;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

button {
  display: flex;
  margin-right: 10px;
}

.column {
  flex: 1 1;
  flex-direction: column;
  display: flex;
  height: 100%;
  overflow: auto;
}

.column+.column {
  margin-left: 20px;
}

textarea {
  resize: none;
  height: 100% !important;
}

#shipfitting { 
  height: 100%;
}

#errors {
  display: none;
  background: pink;
  padding: 10px 10px 5px 10px;
}

